:root {
  --page-text: rgb(201, 200, 201);
  --page-borders: rgb(50, 56, 64);
  --page-red: rgb(190, 49, 68);
  --page-blue: #45567d;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  scroll-behavior: smooth;
}
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  z-index: 1;
  position: sticky;
  top: 0;
  margin: 0;
  height: 6rem;
  background: linear-gradient(
  to bottom, 
  var(--page-red) 0%, 
  var(--page-red) 80%, 
  rgb(3, 3, 3) 100%
);
}
#welcome-section {
  height: 100vh; 
}
#navbar {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(231, 229, 231);
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: right;
  gap: 1%; 
  margin: 0 auto; 
  padding: 1.8rem 2rem;
}
#navbar a {
  text-decoration: none;
  color: inherit;
  padding: 2.7rem 1rem;
  transition: background 0.3s ease;
}
#navbar a:hover {
  background-color: var(--page-blue);
  background: linear-gradient(
  to bottom, 
  var(--page-blue) 0%, 
  var(--page-blue) 80%, 
  rgb(3, 3, 3) 100%);  
  padding: 2.45rem 1rem;  
  margin: 0;
}
body {
  background: linear-gradient(
    to bottom,
    rgb(3, 3, 3) 0%,
    rgb(20, 20, 20) 40%,
    rgb(53, 52, 53) 70%
  );
  min-width: 300px;
}
h1 {
  color: var(--page-text);
  font-size: 5rem;
  margin: 20rem 5rem;
}
#projects {
  color: var(--page-text);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem; 
  background: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    var(--page-blue) 3rem
  );
}
.project-tile {
  width: 90%; 
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  border: 4px solid var(--page-borders);
  display: flex;
  flex-direction: column;
}
.line-break {
    display: inline; 
}
.picture {
  width: 100%;
  height: 20rem; 
  object-fit: cover; 
  display: block;
}

.caption {
  padding: 1.3rem 1rem; 
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--page-borders);
  color: rgb(231, 229, 231);
  flex-wrap: nowrap;
  white-space: nowrap;
}

.caption::before,
.caption::after {
  opacity: 0;
  transition: opacity 0.5s ease;
  color: orange;
  font-weight: bold;
}

.caption::before {
  content: "< ";
  margin-right: 0.3rem;
}

.caption::after {
  content: " />";
  margin-left: 0.3rem;
}

.project-tile:hover .caption::before,
.project-tile:hover .caption::after {
  opacity: 1;
}
.project-tile:hover {
transform: scale(1.05);
transition: transform 0.2s linear 0ms;
}
.project-tile {
  transition: transform 0.2s linear; 
}
a {
  text-decoration: none;
}
#treasures {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
  max-width: 80%;
  margin: 0 auto; 
}
#projects h2 {
 margin: 3rem auto 2rem auto;
}
#showallbutton {
  padding: 1rem;
  background-color: var(--page-borders);
  color: var(--page-text);
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 10px;
  margin: 2rem auto 5rem auto;
  border: 1px solid transparent;
  transition: transform 0.2s linear, background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

#showallbutton:hover {
  background-color: var(--page-red);
  transform: scale(1.05);
  color: white;
}

.arrow {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  transition: transform 0.3s ease;
}

#showallbutton:hover .arrow {
  transform: translateX(4px);
}
#contact-section {
  background-color: var(--page-borders);
  padding-top: 3rem;
}
#contact-section h2 {
  color: var(--page-text);
  font-size: 4rem;
  text-align: center;
  margin: 20rem auto 0.5rem auto;
}
#contact-section p {
  color: var(--page-text);
  text-align: center;
   font-size: 1.3rem;
   font-weight: 200;
   margin-bottom: 1rem; 
}
#social-contacts {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--page-text);
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 5rem;
}
#social-contacts a:hover {
  color: var(--page-red); 
  transform: translateY(15%);
}
#social-contacts a {
  color: var(--page-text);  
  text-decoration: none;  
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-name {
  font-size: 1.5rem;
  margin: 0.8% 0.8% 1.6% 0.32%;
}
.social-media {
  display: flex;
  flex-direction: row;
  margin: 2% 0 15% 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}
#contact-section {
  color: var(--page-text);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem; 
  background: linear-gradient(
    to bottom,
    var(--page-blue),
    var(--page-borders)
     3rem
  );
}
hr {
  border: none;
  height: 5px;
  background-color: var(--page-red);
}
#footer-content {
 background-color: var(--page-borders);
 color: var(--page-text);
 display: flex;
 padding: 2rem 0.5rem;
 justify-content: space-between;
 font-weight: 300;
 font-size: 1rem;
 align-items: center;
}

@media (max-width: 800px) {
  html {
    font-size: 70%;
  }
  #navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1%; 
  margin: 0 auto; 
  padding: 1.8rem 1%;
}
.line-break {
    display: block; 
  }
h1 {
  font-size: 5rem;
  margin: 17rem 3rem;
}
#treasures {
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}
#social-contacts {
  flex-wrap: wrap;
  flex-direction: column;
}
.social-name {
  margin: 3rem auto;
}
.social-media {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}
#contact-section p {
   margin-bottom: 5rem; 
}
}
